.team {
    display: flex;
    align-items: center;
    margin: 24px 0 24px 0;
}

.team-portrait {
    height: 156px;
    border-radius: 50%;
    margin-right: 8px;
}

.team-content {
    margin-left: 8px;
}

.team-social {
    margin: 4px;
}

.team-icon {
    color: #0b2448;
}

.team-icon:hover {
    color: #000;
}