<section id="neuralfuse-header" class="header">
  <!-- 
  <div class="language btn-group btn-group-toggle" data-toggle="buttons">
    <button class="btn btn-dark btn-sm">Es</button>
    <button class="btn btn-dark btn-sm">En</button>
  </div> -->
  <div id="logo">
    <h1>Neural Fuse</h1>
    <!-- <h1>Neural Fuse</h1>
    <h1>Neural Fuse</h1> -->
  </div>
  <div class="scroll-cta">
    <div>Scroll down</div>    
    <img src="../../assets/images/scroll-arrow.gif" style="width:30px" alt="scroll down">
  </div>
</section>
