.footer {
    height: 5%;
    display: flex;
    justify-content: center;
    color: white;
    bottom: 0px;
    margin-top: 30px;
    padding: 0;
}

.link {
    text-decoration: none;
    color: white;
}