<footer class="container footer">
    <a class="link" href='https://gitlab.com/neural-fuse' target="_blank">
        Made with <p class="fa-spin" style="display: inline-block;">💖</p> and <p class="fa-spin" style="display: inline-block;">☕</p>
    </a>
</footer>
