
<app-background></app-background>

<div id="appContainer">
  <app-navigation-dots class="section" [sections]="sections"></app-navigation-dots>

  <app-header id="sec1" class="section"></app-header>
  <app-projects id="sec2" class="section"></app-projects>
  <div id="sec3" class="section">
    <app-about></app-about>
    <app-footer></app-footer>
  </div>
</div>