<section class="about">
    <div class="text-center">
        <h2 class="h2 theme-light">About us</h2>
        <p class="subtitle theme-light">
            Here you will find group projects with web side implemented mostly by Sergio Cerdá Hervás and Ferran Ramírez Martí, who also implemented the cool background and style functionalities.
        </p>
    </div>

    <div class="team-members">
        <app-team-member *ngFor="let member of team; let indice = index" [member]="member" [index]="indice"></app-team-member>
    </div>
</section>