/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


/* transiciones entre gradientes */
body {
    color: white;
    z-index: -5;
	background: linear-gradient(-45deg, yellow, #ffa55b, #ff615b, #e73c7e, #cb3ce7, #46b7e4, #23d5ab, #c4ffde);
	background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    text-shadow: 1px 1px #6161616e;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* ! unselectable TEXT maybe not worth it */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.h1, .h2, .h3, .h4 {
    color: #0b2448;  
    font-family: 'Rubik';
    font-weight: bold;
    text-align: center;
}

.h2 {
    font-size: 2.375rem;
    line-height: 2.875rem;
}

.h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.h4 {
    font-size: 1rem;
}

.body {
    color: #3a4e6c;
    font-size: 1rem;
}


.subtitle {
    color: #3a4e6c;
    margin: 0 0 1.5rem;
    font-family: 'Rubik';
    font-size: 1rem;
    text-align: center;
    max-width: 720px; /* Como .container */
}

section {
    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
}