.nav-dots {
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    right: 0;    
    bottom: 50%;

    margin-right: 2%; /* TODO: Make mobile responsive */
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(172, 172, 172);

    margin-top: 2px;
    margin-bottom: 2px;
}

.dot.active {
    background-color: #0b2448; 
}